{
    items = ({
        cell = PSSwitchCell;
        key = IconHidden;
        default = 0;
        label = "Hide WinterBoard";
    }, {
        cell = PSGroupCell;
	isStaticText = true;
    }, {
        cell = PSTitleValueCell;
        label = "WinterBoard can also be found under the normal iPhone OS Settings application.";
    }, {
        cell = PSGroupCell;
    }, {
        cell = PSSwitchCell;
        key = SummerBoard;
        default = 1;
        label = "SummerBoard Mode";
    }, {
        cell = PSSwitchCell;
        key = Debug;
        default = 0;
        label = "Debug Logging";
    }, {
        cell = PSGroupCell;
    }, {
        cell = PSLinkCell;
        detail = WBSThemesController;
        icon = Themes.png;
        label = "Select Themes";
    }, {
        cell = PSGroupCell;
    }, {
        cell = PSButtonCell;
        action = optimizeThemes;
        label = "Optimize Themes (v1.0)";
    }, {
        cell = PSGroupCell;
	isStaticText = true;
    }, {
        cell = PSTitleValueCell;
        label = "iPhone-optimize PNGs (for speed).\n\nPlease note that this setting /replaces/ the PNG files that came with the theme. PNG files that have been iPhone-optimized cannot be viewed on a normal computer unless they are first deoptimized. You can use Cydia to reinstall themes that have been optimized in order to revert to the originals.";
    });

    title = WinterBoard;
}
