{
    items = ({
        cell = PSSwitchCell;
        key = IconHidden;
        label = "Hide Application";
    }, {
        cell = PSGroupCell;
	isStaticText = true;
    }, {
        cell = PSTitleValueCell;
        label = "WinterBoard can also be found under the normal iPhone OS Settings application.";
    }, {
        cell = PSGroupCell;
    }, {
        cell = PSLinkCell;
        detail = WBSThemesController;
        icon = Themes.png;
        label = Themes;
    });

    title = WinterBoard;
}
